body,html
{
    height: 100%;
    margin: 0;
}

#app
{
    height: 100%;
    padding: 20px;
}

.day
{
    background-color: white;
    color: black;
}

.night
{
    background-color: black;
    color: gold;
}

.button_day
{
    background-color: white;
    color: black
}

.button_night
{
    background-color: black;
    color: darkblue;
}